name: Auto ACB Newsletter

on:
  push:
    branches: [ main ]
  schedule:
    - cron: '15 * * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  run-process:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        pip install requests pandas beautifulsoup4 google-generativeai markdown

    - name: Ejecutar Check Status
      env:
        GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
        GMAIL_USER: ${{ secrets.GMAIL_USER }}
        GMAIL_PASSWORD: ${{ secrets.GMAIL_PASSWORD }}
        URL_SUSCRIPTORES: ${{ secrets.URL_SUSCRIPTORES }}
        MAKE_WEBHOOK_URL: ${{ secrets.MAKE_WEBHOOK_URL }}
      run: python check_status.py
      
    - name: Guardar cambios en Data
      run: |
        git config --global user.name 'ACB Bot'
        git config --global user.email 'bot@noreply.github.com'
        
        # 1. PRIMERO AÑADIMOS LOS CAMBIOS LOCALES (Lo que ha generado el bot)
        git add data/
        
        # 2. HACEMOS EL COMMIT (Guardamos en local)
        # Si no hay cambios, no pasa nada
        git commit -m "Auto: Update Data & Status [skip ci]" || echo "Nada que commitear"
        
        # 3. AHORA SÍ, TRAEMOS LO NUEVO DE LA NUBE Y RECOLOCAMOS NUESTRO COMMIT ENCIMA
        git pull --rebase origin main
        
        # 4. SUBIMOS TODO
        git push

